.controlled-autocomplete {
	&__label {
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 170%;
		margin-bottom: 4px;
	}
	&__autocomplete {
		margin-bottom: 13px;
	}
	&__error {
		color: var(--mainRedColor);
		font-size: 13px;
	}
}
