.documents-form {
	/* .documents-form__invoice */
	&__invoice {
		margin-bottom: 40px;
	}
	/* .documents-form__row */
	&__row {
		display: grid;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		/* .documents-form__row--2-columns */
		&--2-columns {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
			@media (max-width: 48em) {
				grid-template-columns: auto;
				gap: 20px;
			}
		}
		/* .documents-form__row--controls */
		&--controls {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
		}
	}
	/* .documents-form__column */
	&__column {
	}
}
