.controlled-input-file {
	/* .controlled-input-file__input-wrapper */
	&__input-wrapper {
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}
	/* .controlled-input-file__input */
	&__input {
		&:focus-visible + .controlled-input-file__label {
			outline: 2px solid var(--mainFocusColor);
		}
		&[data-error="true"]:focus-visible + .controlled-input-file__label {
			outline-color: var(--mainRedColor);
		}
	}
	/* .controlled-input-file__label */
	&__label {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		min-height: 44px;
		width: 100%;
		border: 1px solid #d3c8c8;
		padding: 5px 10px;
		span {
			font-weight: 700;
			font-size: 0.82rem;
			line-height: 130%;
			text-transform: uppercase;
			color: var(--mainDarkColor);
		}
	}
	/* .controlled-input-file__error */
	&__error {
		color: var(--mainRedColor);
		font-size: 13px;
	}
	/* .controlled-input-file__files */
	&__files {
		padding: 10px 0;
	}
}

.attached-files {
	/* .attached-files__list */
	&__list {
		list-style: none;
		display: flex;
		gap: 12px;
	}
	/* .attached-files__item */
	&__item {
	}
}
.attached-file {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #d3c8c8;

	/* .attached-file__preview */
	&__preview {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	/* .attached-file__icon */
	&__icon {
	}
	/* .attached-file__img */
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}
	/* .attached-file__btn-remove */
	&__btn-remove {
		position: absolute;
		top: -12px;
		right: -12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: none;
		background-color: var(--mainWhiteColor);
		color: var(--mainDarkColor);
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--mainRedColor);
			}
		}
		&:focus-visible {
			outline: 2px solid var(--mainFocusColor);
		}
		svg {
			display: block;
			width: 100%;
			height: 100%;
			pointer-events: none;
			color: inherit;
		}
	}
}
