@import "../src/assets/styles/variables.scss";
@import "../src/assets/styles/fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fontFamily);
	font-size: 14px;
	font-weight: 400;
}

button {
	font-family: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.app {
	padding: 80px 0;
	&__title {
		margin-bottom: 0.6em;
	}
	&__stepper-bar {
		margin-bottom: 30px;
		@media (max-width: 48em) {
			margin-bottom: 20px;
		}
	}
	&__form-step {
	}
}

.container {
	max-width: 870px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	text-align: center;
	font-size: 3.25rem;
	line-height: 130%;
	font-weight: 500;
	font-family: "NovaPoshta", sans-serif;
	color: var(--mainDarkColor);
	@media (max-width: 48em) {
		font-size: 2rem;
	}
}
