@import "../src/assets/styles/variables.scss";
@import "../src/assets/styles/fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fontFamily);
	font-size: 14px;
	font-weight: 400;
}

.app {
	padding: 80px 0;
}

.container {
	max-width: 870px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	margin-bottom: 0.6em;
	text-align: center;
	font-size: 3.25rem;
	line-height: 130%;
	font-weight: 500;
	font-family: "NovaPoshta", sans-serif;
	color: var(--mainDarkColor);
}

.stepper-bar {
	padding: 20px 0;
	box-shadow: 0 0 0 100vmax var(--mainGrayColor);
	clip-path: inset(0 -100vmax);
	background-color: var(--mainGrayColor);
	/* .stepper-bar__list */
	&__list {
		list-style: none;
		display: grid;
		grid-template-columns: 220px 1fr 150px;
		align-items: center;
		gap: 10px;
	}
	/* .stepper-bar__item */
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		gap: 4px;
		&.active {
			.stepper-bar__item-icon {
				background-color: var(--mainRedColor);
			}
		}
	}
	/* .stepper-bar__item-icon */
	&__item-icon {
		flex: 0 0 24px;
		height: 24px;
		border-radius: 50%;
		background-color: var(--mainWhiteColor);
		border: 1px solid var(--mainRedColor);
	}
	/* .stepper-bar__item-title */
	&__item-title {
		font-weight: 400;
		font-size: 0.8125rem;
		line-height: 150%;
		color: var(--mainDarkColor);
	}
	/* .stepper-bar__line */
	&__line {
		flex: 1 1 auto;
		height: 1px;
		background-color: var(--mainRedColor);
	}
}
